<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Welcome To Passcode Generator</title>
    <link rel="stylesheet" href="code.css">
  </head>

  <body>
<img src="cll-logo.png" alt="cll-logo" class='image-logo'>
    <section>
      <h1>Welcome To Passcode Generator</h1>
      <p class= 'passcode'> 0 0 0 0 0 0 0 </p>
      <button id= 'button' class= btn-blue type="button" name="button">Generate</button>
    </section>
    <p class= 'timer_display'> </p>
<br>
    <section class= 'history_board'>
      <div class="passcode_history">
        <div class= 'passcode_record'>
        </div>
      </div>
    </section>
<br>
    <section class= 'clear_all'>
      <button id= 'clearAll_button' class= btn-red type="button" name="button">Clear All</button>
    </section>
<br>
    <section class= 'restore_record'>
      <button id= 'restore_button' type="button" name="button">Restore</button>
    </section>

    <script type="text/javascript" src="code.js"></script>
  </body>
</html>
