<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Welcome To Passcode Generator</title>
    <link rel="stylesheet" href="code.css">
  </head>

  <body>

    <section>
      <h1>Welcome To Passcode Generator</h1>
      <p class= 'passcode'> 0000000 </p>
      <button id= 'button' class= btn-blue type="button" name="button">Generate</button>
    </section>
    <section class= 'history_board'>
      <div class="passcode_history">
        <div class= 'passcode_record'>
        </div>
      </div>
    </section>
    <script type="text/javascript" src="code.js"></script>
  </body>
</html>
